<h1>Country Index Page</h1>

<a href="countries/new">Add a new Country</a>
<br>

 

<% @countries.each do |country| %>

	<h2><%= country.country %></h2>
	<p>Population: <%= country.population %></p>
	<p>Language: <%= country.language %></p>
	<p>Leader: <%= country.leader %></p>
	<p>Flag: <img src="<%= country.flag %>"></p>


<% end %>