
<h1>Show Countries</h1>

	<h1><%= @countries.country %></h1>
	<p>Population: <%= @countries.population %></p>
	<p>Language: <%= @countries.language %></p>
	<p>Leader: <%= @countries.leader %></p>
	<p>Flag: <img src="<%= @countries.flag %>"></p>

	<a href="/countries"><button>HOME PAGE</button></a>
